@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

* {
  font-family: 'Open Sans', 'Arial', sans-serif;
  text-align: center;
}

a {
  margin-top: 10px;
  display: block;
  color: #777;
  transition: color 0.3s;
}

a:hover {
  color: #aaa;
}

.error {
  width: 70%;
  margin: auto;
  border: 1px dotted red;
  color: red;
  border-radius: 5px;
  margin-bottom: 20px;
}

.header {
  background: #cee;
}

.day::before {
    content: 'day: ';
}

.day {
    background: #ddd;
    margin-top: 20px;
}

.timeslots {
    background: #efefef;
}

.timeslots > a {
  display: inline-block;
  width: 100px;
  border: 1px solid;
  text-decoration: none;
  color: #333;
  margin: 5px;
  border-radius: 6px;
}

.timeslots > a.can-book-false {
  color: #ccc;
  border-color: #ddd;
}

.timeslots > a.can-book-true {
  cursor: pointer;
}

.day-block {
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

.can-book-true:hover {
  background-color: #dfd;
  border-color: #4f4;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #555;
}

.submit, button {
  background: darkblue;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}
